<h1>Roll the Dice</h1>

<p><strong>Step 1 (max. 5 points)</strong></strong></p>

<% dice_1_roll = rand(6) %>
<% dice_2_roll = rand(6) %>

<p>Dice #1: <%= dice_1_roll %></p>
<p>Dice #2: <%= dice_2_roll %></p>

<br>

<p><strong>Step 2 (max. 5 points)</strong></p>

<% if dice_1_roll = 1 then "http://kiei925.com/images/dice/1.png"  end %>
