<% highest_rating = 0 %>
<% editors_pick_book = "" %>
<% editors_pick_book_id = "" %>

<% all_books = Book.read %>
<% all_books.each do |book| %>

	<% author = Author.find_by("id" => book["author_id"]) %>
	<% review = Review.where("book_id" => book["id"]) %>
	<% average_rating = review.average(:rating) %>

	<% if average_rating == nil then %>
		<% average_rating = 0 %>
	<% end %>	

	<% if average_rating > highest_rating then %>
		<% highest_rating = average_rating %>
		<% editors_pick_book = book["title"] %>
		<% editors_pick_book_id = book.id %>
	<% end %>

<% end %>

<h1>Welcome to Aaron's Bookstore</h1>

<p> 

<h2> <%= link_to "Editor's Pick: #{editors_pick_book}", "/books/#{editors_pick_book_id}" %> </h2>

	<%= link_to "List of Books", "/books" %>

</p>

<hr>

<%= link_to image_tag(("http://d27tm.org/wp-content/uploads/2014/04/Boulder-Bookstore_Sam-Hall.jpg"), "width" => "400"), "/books" %>

<p></p>

<h3>Update: We have added the ability for users to review books already in our system. Click through to an individual book to add your review.</h3>
